@import "_mixins", "_variable";

input {
    outline: none;
}
.Head {
    @include DefaultBox(100%, 626px);
    float: left;
}
.Head-background {
    @include DefaultBox(100%, 626px);
    margin: 0;
    img {
        width: 100%;
        max-height: 100%;
    }
}
.Head-menu {
    @include DefaultBox(100%, 70px);
    border-bottom: solid #6ee70a 2px;
    position: absolute;
}
.Head-menu-text {
    @include DefaultBox(25%, 100%);
    float: left;
    background-color: rgba(0,0,0, 0.4);
    h1 {
        color: $colorGreen;
        margin: 7px 25px;
        font-family: 'Waltograph';
        font-size: 40px;
    }
}
.Head-menu-panel {
   @include DefaultBox(75%, 100%);
   float: left;
   background-color: rgba(0,0,0, 0.4);
    nav {
        @include DefaultBox(70%, 100%);
        display: block;
        float: right;
        ul {
            display: inline-block;
            margin: 18px 0 0 0;
            a {
                text-decoration: none;
                color: white;
                font-size: 27px;
                font-weight: bold;
                font-family: 'Waltograph';
                margin: 0 30px;
                color: #6ee70a;
            }
        }
    }
}
.Head-text-title {
    position: absolute;
    margin: 120px 100px;
}